.card-flex {
    display: flex;
    border: 0px;
    background: rgb(56, 56, 56);
    width: 300px;
}

span {
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.card-margin {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.text1 {
    color:white;
    opacity: 60%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    letter-spacing: -2px;
    margin-top: -5px;
}

.text2 {
    color:white;
    opacity: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
}

.stars {
    width: 40%;
    height:40%;
}

.star {
    align-items: center;
    justify-items: center;
    display: flex;
}

.text3 {
    margin-left: 8px;
    font-size: 12px;
    color: white;
}

button {
    margin-left: 50px;
    border: 0px;
    background: rgb(1, 216, 52);
    border-radius: 50px;
    width: 80px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
